extends /_templates/main.pug


block content
    .margin.col-xs-12.col-sm-10.col-md-9.col-md-offset-1
        h1= self.name
        .list-item.hidden(data-geo=self.geo, data-info=self.info)

        dl.dl-horizontal.margin
            each text, label in self.properties
                dt= label
                dd
                    != self.md(text)


block image
    if self.photo
        .container-fluid
            .row
                #image.col-xs-12(style=`background-image:url('/assets/photos/${self.photo}')`)

block footer
    #footer.container-fluid
        .row
            a.col-xs-12.text-center(href='/')
                span.glyphicon.glyphicon-chevron-left
