extends /_templates/main.pug


block content
    .margin.col-xs-12.col-sm-10.col-md-9.col-md-offset-1
        h1= self.name
        .list-item.hidden(data-geo=self.geo, data-info=self.info)

        dl.dl-horizontal.margin
            each text, label in self.properties
                dt= label
                dd
                    != self.md(text)
            if self.soundcloud
                dt Audiotekstid
                dd
                    iframe(width='100%', height='166', scrolling='no', frameborder='no', src='https://w.soundcloud.com/player/?url=https://api.soundcloud.com/tracks/' + self.soundcloud + '&color=ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false')


block image
    if self.photo
        .container-fluid
            .row
                #image.col-xs-12(style=`background-image:url('/assets/photos/${self.photo}')`)

block footer
    #footer.container-fluid
        .row
            a.col-xs-12.text-center(href='/')
                span.glyphicon.glyphicon-chevron-left
